## Collecting Cap Data

This project will utilize cap data from Spotrac, as Spotrac is a comprehensive site that provides cap data for all NFL teams. Spotrac goes back to 2011, offering a decent range of historical data.

Select data from 2011 to 2024

In [2]:
# IMPORTS
import csv
import requests
import bs4
import pandas as pd

In [3]:
years = [x for x in range(2011, 2025, 1)]

In [4]:
teams = {
    'ARI': 'Arizona Cardinals',
    'ATL': 'Atlanta Falcons',
    'BAL': 'Baltimore Ravens',
    'BUF': 'Buffalo Bills',
    'CAR': 'Carolina Panthers',
    'CHI': 'Chicago Bears',
    'CIN': 'Cincinnati Bengals',
    'CLE': 'Cleveland Browns',
    'DAL': 'Dallas Cowboys',
    'DEN': 'Denver Broncos',
    'DET': 'Detroit Lions',
    'GB': 'Green Bay Packers',
    'HOU': 'Houston Texans',
    'IND': 'Indianapolis Colts',
    'JAX': 'Jacksonville Jaguars',
    'KC': 'Kansas City Chiefs',
    'LV': 'Las Vegas Raiders',
    'LAC': 'Los Angeles Chargers',
    'LAR': 'Los Angeles Rams',
    'MIA': 'Miami Dolphins',
    'MIN': 'Minnesota Vikings',
    'NE': 'New England Patriots',
    'NO': 'New Orleans Saints',
    'NYG': 'New York Giants',
    'NYJ': 'New York Jets',
    'PHI': 'Philadelphia Eagles',
    'PIT': 'Pittsburgh Steelers',
    'SF': 'San Francisco 49ers',
    'SEA': 'Seattle Seahawks',
    'TB': 'Tampa Bay Buccaneers',
    'TEN': 'Tennessee Titans',
    'WAS': 'Washington Commanders',
}

url_teams = {
    'ARI': 'arizona-cardinals',
    'ATL': 'atlanta-falcons',
    'BAL': 'baltimore-ravens',
    'BUF': 'buffalo-bills',
    'CAR': 'carolina-panthers',
    'CHI': 'chicago-bears',
    'CIN': 'cincinnati-bengals',
    'CLE': 'cleveland-browns',
    'DAL': 'dallas-cowboys',
    'DEN': 'denver-broncos',
    'DET': 'detroit-lions',
    'GB': 'green-bay-packers',
    'HOU': 'houston-texans',
    'IND': 'indianapolis-colts',
    'JAX': 'jacksonville-jaguars',
    'KC': 'kansas-city-chiefs',
    'LV': 'las-vegas-raiders',
    'LAC': 'los-angeles-chargers',
    'LAR': 'los-angeles-rams',
    'MIA': 'miami-dolphins',
    'MIN': 'minnesota-vikings',
    'NE': 'new-england-patriots',
    'NO': 'new-orleans-saints',
    'NYG': 'new-york-giants',
    'NYJ': 'new-york-jets',
    'PHI': 'philadelphia-eagles',
    'PIT': 'pittsburgh-steelers',
    'SF': 'san-francisco-49ers',
    'SEA': 'seattle-seahawks',
    'TB': 'tampa-bay-buccaneers',
    'TEN': 'tennessee-titans',
    'WAS': 'washington-commanders',
}

### Testing

In [5]:
# Testing
url = 'https://www.spotrac.com/nfl/philadelphia-eagles/overview/_/year/2024/sort/cap_total'

table_ind = {
    0: 'Active Roster',
    1: 'IR',
    2: 'Practice Squad',
    3: 'Dead Money'
}

text = requests.get(url).text

soup = bs4.BeautifulSoup(text, 'html.parser')
tables = soup.find_all('table')

KeyboardInterrupt:

In [ ]:
def clean_name(word):
    split_pt = word.find('\n')
    return word[split_pt+1:]

def clean_header(word):
    split_pt = word.find('\n')
    return word[:split_pt]

### Active Roster

In [ ]:
curr = tables[0]
headers = [header.text.strip() for header in curr.find_all('th')]
rows = []
for row in curr.find_all('tr')[1:]:
    rows.append([cell.text.strip() for cell in row.find_all('td')])

In [ ]:
new_headers = [clean_header(x) if '\n' in x else x for x in headers]
new_headers[1] = 'Player'

In [ ]:
active_df = pd.DataFrame(rows, columns=new_headers)
active_df.head()

,,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total,Free Agent
0,1,Johnson\nLane Johnson,RT,34,"$15,865,000",6.21%,"($45,065,000)","$20,000,000",2027
1,2,Hurts\nJalen Hurts,QB,26,"$13,558,800",5.31%,"($120,871,200)","$40,000,000",2029
2,3,Brown\nA.J. Brown,WR,27,"$11,878,894",4.65%,"($73,220,682)","$21,250,000",2030
3,4,Mailata\nJordan Mailata,LT,27,"$11,616,000",4.55%,"($77,892,000)","$21,875,000",2029
4,5,Slay\nDarius Slay,CB,33,"$10,666,000",4.18%,"($33,357,932)","$11,350,000",2026

In [ ]:
active_df.drop(columns=[''], inplace=True)

In [ ]:
for col in ['Cap Hit', 'Dead Cap', 'Cash Total']:
    active_df[col] = active_df[col].str.replace('$', '').str.replace(',', '')
    if (col == 'Dead Cap'):
        active_df[col] = active_df[col].str.replace('(', '')
        active_df[col] = active_df[col].str.replace(')', '')
        active_df[col] = active_df[col].str.replace('-', '0')
    active_df[col] = active_df[col].astype(float)

In [ ]:
active_df.head()

,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total,Free Agent
0,Johnson\nLane Johnson,RT,34,15865000.0,6.21%,45065000.0,20000000.0,2027
1,Hurts\nJalen Hurts,QB,26,13558800.0,5.31%,120871200.0,40000000.0,2029
2,Brown\nA.J. Brown,WR,27,11878894.0,4.65%,73220682.0,21250000.0,2030
3,Mailata\nJordan Mailata,LT,27,11616000.0,4.55%,77892000.0,21875000.0,2029
4,Slay\nDarius Slay,CB,33,10666000.0,4.18%,33357932.0,11350000.0,2026

In [ ]:
active_df['Cap Hit Pct'] = active_df['Cap Hit Pct'].str.replace('%', '').astype(float)
active_df['Player'] = active_df['Player'].apply(lambda x: clean_name(x))
active_df.head()

,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total,Free Agent
0,Lane Johnson,RT,34,15865000.0,6.21,45065000.0,20000000.0,2027
1,Jalen Hurts,QB,26,13558800.0,5.31,120871200.0,40000000.0,2029
2,A.J. Brown,WR,27,11878894.0,4.65,73220682.0,21250000.0,2030
3,Jordan Mailata,LT,27,11616000.0,4.55,77892000.0,21875000.0,2029
4,Darius Slay,CB,33,10666000.0,4.18,33357932.0,11350000.0,2026

### IR

In [ ]:
curr = tables[1]
headers = [header.text.strip() for header in curr.find_all('th')]
rows = []
for row in curr.find_all('tr')[1:]:
    rows.append([cell.text.strip() for cell in row.find_all('td')])

In [ ]:
new_headers = [clean_header(x) if '\n' in x else x for x in headers]
new_headers[1] = 'Player'

In [ ]:
ir_df = pd.DataFrame(rows, columns=new_headers)
ir_df.head()

,,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total,Free Agent
0,1,Graham\nBrandon Graham,OLB,36,"$8,198,000",3.21%,"($17,216,000)","$4,000,000",2025
1,2,Bradberry\nJames Bradberry,S,31,"$4,305,000",1.69%,"($15,118,000)","$8,850,000",2026
2,3,Young\nByron Young,DT,24,"$1,007,669",0.39%,"($1,007,669)","$1,007,669",2027
3,4,Covey\nBritain Covey,WR,27,"$985,000",0.39%,-,"$985,000",2025
4,5,VanSumeren\nBen VanSumeren,ILB,24,"$915,000",0.36%,-,"$915,000",2025

In [ ]:
for col in ['Cap Hit', 'Dead Cap', 'Cash Total']:
    ir_df[col] = ir_df[col].str.replace('$', '').str.replace(',', '')
    if (col == 'Dead Cap'):
        ir_df[col] = ir_df[col].str.replace('(', '')
        ir_df[col] = ir_df[col].str.replace(')', '')
        ir_df[col] = ir_df[col].str.replace('-', '0')
    ir_df[col] = ir_df[col].astype(float)

In [ ]:
ir_df.drop(columns=[''], inplace=True)

In [ ]:
ir_df['Cap Hit Pct'] = ir_df['Cap Hit Pct'].str.replace('%', '').astype(float)
ir_df['Player'] = ir_df['Player'].apply(lambda x: clean_name(x))

In [ ]:
ir_df.head()

,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total,Free Agent
0,Brandon Graham,OLB,36,8198000.0,3.21,17216000.0,4000000.0,2025
1,James Bradberry,S,31,4305000.0,1.69,15118000.0,8850000.0,2026
2,Byron Young,DT,24,1007669.0,0.39,1007669.0,1007669.0,2027
3,Britain Covey,WR,27,985000.0,0.39,0.0,985000.0,2025
4,Ben VanSumeren,ILB,24,915000.0,0.36,0.0,915000.0,2025

### Practice Squad

In [ ]:
curr = tables[2]
headers = [header.text.strip() for header in curr.find_all('th')]
rows = []
for row in curr.find_all('tr')[1:]:
    rows.append([cell.text.strip() for cell in row.find_all('td')])

In [ ]:
new_headers = [clean_header(x) if '\n' in x else x for x in headers]
new_headers[1] = 'Player'

In [ ]:
ps_df = pd.DataFrame(rows, columns=new_headers)

In [ ]:
ps_df

,,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total
0,1,Toth\nBrett Toth,G,28,"$302,400",0.12%,-,"$302,400"
1,2,Gray\nDanny Gray,WR,25,"$285,600",0.11%,-,"$285,600"
2,3,Davis-Price\nTy Davis-Price,RB,24,"$225,000",0.09%,-,"$225,000"
3,4,Hall\nGabe Hall,DE,23,"$225,000",0.09%,-,"$225,000"
4,5,Sam\nAndre’ Sam,S,25,"$225,000",0.09%,-,"$225,000"
5,6,Vakalahi\nLaekin Vakalahi,T,21,"$225,000",0.09%,-,"$225,000"
6,7,Woods\nA.J. Woods,CB,23,"$212,500",0.08%,-,"$212,500"
7,8,Nickerson\nParry Nickerson,CB,30,"$201,600",0.08%,-,"$201,600"
8,9,Gant\nDallas Gant,ILB,24,"$112,500",0.04%,-,"$112,500"
9,10,Mathis\nOchaun Mathis,OLB,25,"$87,500",0.03%,-,"$87,500"
10,11,Campbell\nParris Campbell,WR,27,"$84,000",0.03%,-,"$84,000"
11,12,Blasingame\nKhari Blasingame,FB,28,"$84,000",0.03%,-,"$84,000"
12,13,Philips\nKyle Philips,WR,25,"$75,000",0.03%,-,"$75,000"
13,14,Harris\nCharles Harris,DE,29,"$21,300",0.01%,-,"$21,300"
14,15,Castro-Fields\nTariq Castro-Fields,CB,25,"$12,500",0.00%,-,"$12,500"
15,16,Morrow\nNicholas Morrow,OLB,29,-,-,-,-
16,17,Book\nIan Book,QB,26,-,-,-,-
17,18,Henry\nK.J. Henry,DE,25,-,-,-,-
18,19,Nichols III\nLew Nichols III,RB,23,-,-,-,-
19,20,Cooks\nElijah Cooks,WR,26,-,-,-,-
20,21,Ngata\nJoseph Ngata,WR,23,-,-,-,-

In [ ]:
for col in ['Cap Hit', 'Dead Cap', 'Cash Total', 'Cap Hit Pct']:
    ps_df[col] = ps_df[col].str.replace('$', '').str.replace(',', '')
    ps_df[col] = ps_df[col].str.replace('(', '')
    ps_df[col] = ps_df[col].str.replace(')', '')
    ps_df[col] = ps_df[col].str.replace('-', '0')
    if (col == 'Cap Hit Pct'):
        ps_df[col] = ps_df[col].str.replace('%', '').astype(float)
    ps_df[col] = ps_df[col].astype(float)

In [ ]:
ps_df.drop(columns=[''], inplace=True)

In [ ]:
ps_df

,Player,Pos,Age,Cap Hit,Cap Hit Pct,Dead Cap,Cash Total
0,Toth\nBrett Toth,G,28,302400.0,0.12,0.0,302400.0
1,Gray\nDanny Gray,WR,25,285600.0,0.11,0.0,285600.0
2,Davis-Price\nTy Davis-Price,RB,24,225000.0,0.09,0.0,225000.0
3,Hall\nGabe Hall,DE,23,225000.0,0.09,0.0,225000.0
4,Sam\nAndre’ Sam,S,25,225000.0,0.09,0.0,225000.0
5,Vakalahi\nLaekin Vakalahi,T,21,225000.0,0.09,0.0,225000.0
6,Woods\nA.J. Woods,CB,23,212500.0,0.08,0.0,212500.0
7,Nickerson\nParry Nickerson,CB,30,201600.0,0.08,0.0,201600.0
8,Gant\nDallas Gant,ILB,24,112500.0,0.04,0.0,112500.0
9,Mathis\nOchaun Mathis,OLB,25,87500.0,0.03,0.0,87500.0
10,Campbell\nParris Campbell,WR,27,84000.0,0.03,0.0,84000.0
11,Blasingame\nKhari Blasingame,FB,28,84000.0,0.03,0.0,84000.0
12,Philips\nKyle Philips,WR,25,75000.0,0.03,0.0,75000.0
13,Harris\nCharles Harris,DE,29,21300.0,0.01,0.0,21300.0
14,Castro-Fields\nTariq Castro-Fields,CB,25,12500.0,0.00,0.0,12500.0
15,Morrow\nNicholas Morrow,OLB,29,0.0,0.00,0.0,0.0
16,Book\nIan Book,QB,26,0.0,0.00,0.0,0.0
17,Henry\nK.J. Henry,DE,25,0.0,0.00,0.0,0.0
18,Nichols III\nLew Nichols III,RB,23,0.0,0.00,0.0,0.0
19,Cooks\nElijah Cooks,WR,26,0.0,0.00,0.0,0.0
20,Ngata\nJoseph Ngata,WR,23,0.0,0.00,0.0,0.0

In [ ]:
ps_df['Player'] = ps_df['Player'].apply(lambda x: clean_name(x))

In [ ]:
ps_df.head()

           Player Pos Age   Cap Hit  Cap Hit Pct  Dead Cap  Cash Total
0      Brett Toth   G  28  302400.0         0.12       0.0    302400.0
1      Danny Gray  WR  25  285600.0         0.11       0.0    285600.0
2  Ty Davis-Price  RB  24  225000.0         0.09       0.0    225000.0
3       Gabe Hall  DE  23  225000.0         0.09       0.0    225000.0
4      Andre’ Sam   S  25  225000.0         0.09       0.0    225000.0

### Dead Cap

In [ ]:
curr = tables[3]
headers = [header.text.strip() for header in curr.find_all('th')]
rows = []
for row in curr.find_all('tr')[1:]:
    rows.append([cell.text.strip() for cell in row.find_all('td')])

In [ ]:
new_headers = [clean_header(x) if '\n' in x else x for x in headers]
new_headers[1] = 'Player'

In [ ]:
new_headers

['', 'Player', 'Pos', 'Age', 'Cap Hit', 'Cap Hit Pct']

In [ ]:
dead_df = pd.DataFrame(rows, columns=new_headers)

In [ ]:
dead_df

                         Player  Pos Age      Cap Hit Cap Hit Pct
0    1  Reddick\nHaason Reddick  OLB  30  $21,515,000       8.42%
1    2       Kelce\nJason Kelce    C  37   $8,678,000       3.40%
2    3    Maddox\nAvonte Maddox   CB  28   $7,719,532       3.02%
3    4        Cox\nFletcher Cox   DT  34   $4,200,000       1.64%
4    5   Barnett\nDerek Barnett   DE  28   $4,004,766       1.57%
..  ..                      ...  ...  ..          ...         ...
81  82   Russell\nBrady Russell   TE  26       $5,334       0.00%
82  83      Elliss\nNoah Elliss   DT  25       $3,334       0.00%
83  84          Jobe\nJosh Jobe   CB  26       $3,334       0.00%
84  85        Sills\nJosh Sills    G  26       $3,334       0.00%
85  86   Foelsch\nKevin Foelsch   TE           $1,771       0.00%

[86 rows x 6 columns]

In [ ]:
for col in ['Cap Hit', 'Cap Hit Pct']:
    dead_df[col] = dead_df[col].str.replace('$', '').str.replace(',', '')
    dead_df[col] = dead_df[col].str.replace('-', '')
    dead_df[col] = dead_df[col].str.replace('%', '')
    dead_df[col] = dead_df[col].astype(float)

In [ ]:
dead_df.drop(columns=[''], inplace=True)

In [ ]:
dead_df['Player'] = dead_df['Player'].apply(lambda x: clean_name(x))

Link for SB winner each year: https://www.pro-football-reference.com/years/

Link for standings each year: https://www.pro-football-reference.com/years/2024/

## PFR Data

In [ ]:
url = 'https://www.pro-football-reference.com/super-bowl/'

text = requests.get(url).text

soup = bs4.BeautifulSoup(text, 'html.parser')
tables = soup.find_all('table')

In [ ]:
year = 2024
curr = tables[0]
rows = curr.find_all('tr')
clean_rows = []
for row in rows:
    clean_rows.append([cell.text.strip() for cell in row.find_all('td')])

simple_rows = [['Year', 'Winner', 'Loser']]

for row in clean_rows[1:]:
    if year <= 2010:
        break
    simple_rows.append([year, row[1], row[3]])
    year -= 1
    
simple_rows

[['Year', 'Winner', 'Loser'],
 [2024, 'Philadelphia Eagles', 'Kansas City Chiefs'],
 [2023, 'Kansas City Chiefs', 'San Francisco 49ers'],
 [2022, 'Kansas City Chiefs', 'Philadelphia Eagles'],
 [2021, 'Los Angeles Rams', 'Cincinnati Bengals'],
 [2020, 'Tampa Bay Buccaneers', 'Kansas City Chiefs'],
 [2019, 'Kansas City Chiefs', 'San Francisco 49ers'],
 [2018, 'New England Patriots', 'Los Angeles Rams'],
 [2017, 'Philadelphia Eagles', 'New England Patriots'],
 [2016, 'New England Patriots', 'Atlanta Falcons'],
 [2015, 'Denver Broncos', 'Carolina Panthers'],
 [2014, 'New England Patriots', 'Seattle Seahawks'],
 [2013, 'Seattle Seahawks', 'Denver Broncos'],
 [2012, 'Baltimore Ravens', 'San Francisco 49ers'],
 [2011, 'New York Giants', 'New England Patriots']]

### Standings

In [6]:
url = 'https://www.pro-football-reference.com/years/2024/'

text = requests.get(url).text

soup = bs4.BeautifulSoup(text, 'html.parser')
afc_table = soup.find("table", {"id": "AFC"})
nfc_table = soup.find("table", {"id": "NFC"})

In [7]:
print(afc_table)

<table class="sortable stats_table" data-cols-to-freeze=",1" id="AFC">
<caption>2024 AFC Standings Table</caption>
<colgroup><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/></colgroup>
<thead>
<tr>
<th aria-label="Tm" class="poptip sort_default_asc show_partial_when_sorting left" data-stat="team" scope="col">Tm</th>
<th aria-label="Wins" class="poptip center" data-stat="wins" data-tip="Games Won" scope="col">W</th>
<th aria-label="Losses" class="poptip center" data-stat="losses" data-tip="Games Lost" scope="col">L</th>
<th aria-label="W-L%" class="poptip hide_non_quals center" data-stat="win_loss_perc" data-tip="&lt;b&gt;Win-Loss Percentage of team&lt;/b&gt;&lt;br&gt;For coaches, minimum to qualify for leading is 50 games.&lt;br&gt;After 1972, ties are counted as half-wins and half-losses.&lt;br&gt;Prior, the league didn\'t count them as games in W-L% calculations." scope="col">W-L%</th>
<th aria-label="Points For" class="poptip center" data-stat="points" data-tip="Points Scored by team" scope="col">PF</th>
<th aria-label="Points Allowed" class="poptip center" data-stat="points_opp" data-tip="Points Scored by opposition" scope="col">PA</th>
<th aria-label="Points Differential" class="poptip center" data-stat="points_diff" data-tip="&lt;b&gt;Points Differential&lt;/b&gt;&lt;br&gt;Points Scored - Points Allowed" scope="col">PD</th>
<th aria-label="MoV" class="poptip center" data-stat="mov" data-tip="&lt;b&gt;Margin of Victory&lt;/b&gt;&lt;br&gt;(Points Scored - Points Allowed)/ Games Played" scope="col">MoV</th>
<th aria-label="SoS" class="poptip center" data-stat="sos_total" data-tip="&lt;b&gt;Strength of Schedule&lt;/b&gt;&lt;br&gt;Average quality of opponent as measured by SRS (Simple Rating System)" scope="col">SoS</th>
<th aria-label="SRS" class="poptip center" data-stat="srs_total" data-tip="&lt;b&gt;Simple Rating System&lt;/b&gt;&lt;br&gt;Team quality relative to average (0.0) as measured by SRS (Simple Rating System)&lt;br&gt;SRS = MoV + SoS = OSRS + DSRS&lt;br&gt;The difference in SRS can be considered a point spread (add about 2 pt for HFA)" scope="col">SRS</th>
<th aria-label="OSRS" class="poptip center" data-stat="srs_offense" data-tip="&lt;b&gt;Offensive SRS&lt;/b&gt;&lt;br&gt;Team offense quality relative to average (0.0) as measured by SRS (Simple Rating System)" scope="col">OSRS</th>
<th aria-label="DSRS" class="poptip center" data-stat="srs_defense" data-tip="&lt;b&gt;Defensive SRS&lt;/b&gt;&lt;br&gt;Team defense quality relative to average (0.0) as measured by SRS (Simple Rating System)" scope="col">DSRS</th>
</tr>
</thead>
<tbody><tr class="thead onecell"><td class="right left" colspan="12" data-stat="onecell"> AFC East</td></tr>
<tr><th class="left" csk="1" data-stat="team" scope="row"><a href="/teams/buf/2024.htm">Buffalo Bills</a>*</th><td class="right" data-stat="wins">13</td><td class="right" data-stat="losses">4</td><td class="right" data-stat="win_loss_perc">.765</td><td class="right" data-stat="points">525</td><td class="right" data-stat="points_opp">368</td><td class="right" data-stat="points_diff">157</td><td class="right" data-stat="mov">9.2</td><td class="right" data-stat="sos_total">-1.1</td><td class="right" data-stat="srs_total">8.1</td><td class="right" data-stat="srs_offense">7.8</td><td class="right" data-stat="srs_defense">0.3</td></tr>
<tr><th class="left" csk="2" data-stat="team" scope="row"><a href="/teams/mia/2024.htm">Miami Dolphins</a></th><td class="right" data-stat="wins">8</td><td class="right" data-stat="losses">9</td><td class="right" data-stat="win_loss_perc">.471</td><td class="right" data-stat="points">345</td><td class="right" data-stat="points_opp">364</td><td class="right" data-stat="points_diff">-19</td><td class="right" data-stat="mov">-1.1</td><td class="right" data-stat="sos_total">-1.9</td><td class="right" data-stat="srs_total">-3.0</td><td class="right" data-stat="srs_offense">-3.5</td><td class="right" data-stat="srs_defense">0.4</td></tr>
<tr><th class="left" csk="3" data-stat="team" scope="row"><a href="/teams/nyj/2024.htm">New York Jets</a></th><td class="right" data-stat="wins">5</td><td class="right" data-stat="losses">12</td><td class="right" data-stat="win_loss_perc">.294</td><td class="right" data-stat="points">338</td><td class="right" data-stat="points_opp">404</td><td class="right" data-stat="points_diff">-66</td><td class="right" data-stat="mov">-3.9</td><td class="right" data-stat="sos_total">-0.5</td><td class="right" data-stat="srs_total">-4.3</td><td class="right" data-stat="srs_offense">-3.0</td><td class="right" data-stat="srs_defense">-1.4</td></tr>
<tr><th class="left" csk="4" data-stat="team" scope="row"><a href="/teams/nwe/2024.htm">New England Patriots</a></th><td class="right" data-stat="wins">4</td><td class="right" data-stat="losses">13</td><td class="right" data-stat="win_loss_perc">.235</td><td class="right" data-stat="points">289</td><td class="right" data-stat="points_opp">417</td><td class="right" data-stat="points_diff">-128</td><td class="right" data-stat="mov">-7.5</td><td class="right" data-stat="sos_total">-0.6</td><td class="right" data-stat="srs_total">-8.1</td><td class="right" data-stat="srs_offense">-6.2</td><td class="right" data-stat="srs_defense">-1.9</td></tr>
<tr class="thead onecell"><td class="right left" colspan="12" data-stat="onecell"> AFC North</td></tr>
<tr><th class="left" csk="6" data-stat="team" scope="row"><a href="/teams/rav/2024.htm">Baltimore Ravens</a>*</th><td class="right" data-stat="wins">12</td><td class="right" data-stat="losses">5</td><td class="right" data-stat="win_loss_perc">.706</td><td class="right" data-stat="points">518</td><td class="right" data-stat="points_opp">361</td><td class="right" data-stat="points_diff">157</td><td class="right" data-stat="mov">9.2</td><td class="right" data-stat="sos_total">0.6</td><td class="right" data-stat="srs_total">9.9</td><td class="right" data-stat="srs_offense">8.0</td><td class="right" data-stat="srs_defense">1.9</td></tr>
<tr><th class="left" csk="7" data-stat="team" scope="row"><a href="/teams/pit/2024.htm">Pittsburgh Steelers</a>+</th><td class="right" data-stat="wins">10</td><td class="right" data-stat="losses">7</td><td class="right" data-stat="win_loss_perc">.588</td><td class="right" data-stat="points">380</td><td class="right" data-stat="points_opp">347</td><td class="right" data-stat="points_diff">33</td><td class="right" data-stat="mov">1.9</td><td class="right" data-stat="sos_total">0.1</td><td class="right" data-stat="srs_total">2.1</td><td class="right" data-stat="srs_offense">-0.7</td><td class="right" data-stat="srs_defense">2.8</td></tr>
<tr><th class="left" csk="8" data-stat="team" scope="row"><a href="/teams/cin/2024.htm">Cincinnati Bengals</a></th><td class="right" data-stat="wins">9</td><td class="right" data-stat="losses">8</td><td class="right" data-stat="win_loss_perc">.529</td><td class="right" data-stat="points">472</td><td class="right" data-stat="points_opp">434</td><td class="right" data-stat="points_diff">38</td><td class="right" data-stat="mov">2.2</td><td class="right" data-stat="sos_total">-0.8</td><td class="right" data-stat="srs_total">1.4</td><td class="right" data-stat="srs_offense">5.0</td><td class="right" data-stat="srs_defense">-3.6</td></tr>
<tr><th class="left" csk="9" data-stat="team" scope="row"><a href="/teams/cle/2024.htm">Cleveland Browns</a></th><td class="right" data-stat="wins">3</td><td class="right" data-stat="losses">14</td><td class="right" data-stat="win_loss_perc">.176</td><td class="right" data-stat="points">258</td><td class="right" data-stat="points_opp">435</td><td class="right" data-stat="points_diff">-177</td><td class="right" data-stat="mov">-10.4</td><td class="right" data-stat="sos_total">1.2</td><td class="right" data-stat="srs_total">-9.2</td><td class="right" data-stat="srs_offense">-7.1</td><td class="right" data-stat="srs_defense">-2.1</td></tr>
<tr class="thead onecell"><td class="right left" colspan="12" data-stat="onecell"> AFC South</td></tr>
<tr><th class="left" csk="11" data-stat="team" scope="row"><a href="/teams/htx/2024.htm">Houston Texans</a>*</th><td class="right" data-stat="wins">10</td><td class="right" data-stat="losses">7</td><td class="right" data-stat="win_loss_perc">.588</td><td class="right" data-stat="points">372</td><td class="right" data-stat="points_opp">372</td><td class="right iz" data-stat="points_diff">0</td><td class="right iz" data-stat="mov">0.0</td><td class="right" data-stat="sos_total">-0.7</td><td class="right" data-stat="srs_total">-0.7</td><td class="right" data-stat="srs_offense">-1.5</td><td class="right" data-stat="srs_defense">0.8</td></tr>
<tr><th class="left" csk="12" data-stat="team" scope="row"><a href="/teams/clt/2024.htm">Indianapolis Colts</a></th><td class="right" data-stat="wins">8</td><td class="right" data-stat="losses">9</td><td class="right" data-stat="win_loss_perc">.471</td><td class="right" data-stat="points">377</td><td class="right" data-stat="points_opp">427</td><td class="right" data-stat="points_diff">-50</td><td class="right" data-stat="mov">-2.9</td><td class="right" data-stat="sos_total">-0.7</td><td class="right" data-stat="srs_total">-3.7</td><td class="right" data-stat="srs_offense">-0.5</td><td class="right" data-stat="srs_defense">-3.2</td></tr>
<tr><th class="left" csk="13" data-stat="team" scope="row"><a href="/teams/jax/2024.htm">Jacksonville Jaguars</a></th><td class="right" data-stat="wins">4</td><td class="right" data-stat="losses">13</td><td class="right" data-stat="win_loss_perc">.235</td><td class="right" data-stat="points">320</td><td class="right" data-stat="points_opp">435</td><td class="right" data-stat="points_diff">-115</td><td class="right" data-stat="mov">-6.8</td><td class="right" data-stat="sos_total">-0.8</td><td class="right" data-stat="srs_total">-7.5</td><td class="right" data-stat="srs_offense">-4.2</td><td class="right" data-stat="srs_defense">-3.4</td></tr>
<tr><th class="left" csk="14" data-stat="team" scope="row"><a href="/teams/oti/2024.htm">Tennessee Titans</a></th><td class="right" data-stat="wins">3</td><td class="right" data-stat="losses">14</td><td class="right" data-stat="win_loss_perc">.176</td><td class="right" data-stat="points">311</td><td class="right" data-stat="points_opp">460</td><td class="right" data-stat="points_diff">-149</td><td class="right" data-stat="mov">-8.8</td><td class="right" data-stat="sos_total">0.4</td><td class="right" data-stat="srs_total">-8.4</td><td class="right" data-stat="srs_offense">-4.7</td><td class="right" data-stat="srs_defense">-3.7</td></tr>
<tr class="thead onecell"><td class="right left" colspan="12" data-stat="onecell"> AFC West</td></tr>
<tr><th class="left" csk="16" data-stat="team" scope="row"><a href="/teams/kan/2024.htm">Kansas City Chiefs</a>*</th><td class="right" data-stat="wins">15</td><td class="right" data-stat="losses">2</td><td class="right" data-stat="win_loss_perc">.882</td><td class="right" data-stat="points">385</td><td class="right" data-stat="points_opp">326</td><td class="right" data-stat="points_diff">59</td><td class="right" data-stat="mov">3.5</td><td class="right" data-stat="sos_total">0.7</td><td class="right" data-stat="srs_total">4.2</td><td class="right" data-stat="srs_offense">-0.2</td><td class="right" data-stat="srs_defense">4.4</td></tr>
<tr><th class="left" csk="17" data-stat="team" scope="row"><a href="/teams/sdg/2024.htm">Los Angeles Chargers</a>+</th><td class="right" data-stat="wins">11</td><td class="right" data-stat="losses">6</td><td class="right" data-stat="win_loss_perc">.647</td><td class="right" data-stat="points">402</td><td class="right" data-stat="points_opp">301</td><td class="right" data-stat="points_diff">101</td><td class="right" data-stat="mov">5.9</td><td class="right" data-stat="sos_total">-0.6</td><td class="right" data-stat="srs_total">5.3</td><td class="right" data-stat="srs_offense">0.6</td><td class="right" data-stat="srs_defense">4.7</td></tr>
<tr><th class="left" csk="18" data-stat="team" scope="row"><a href="/teams/den/2024.htm">Denver Broncos</a>+</th><td class="right" data-stat="wins">10</td><td class="right" data-stat="losses">7</td><td class="right" data-stat="win_loss_perc">.588</td><td class="right" data-stat="points">425</td><td class="right" data-stat="points_opp">311</td><td class="right" data-stat="points_diff">114</td><td class="right" data-stat="mov">6.7</td><td class="right" data-stat="sos_total">-0.3</td><td class="right" data-stat="srs_total">6.4</td><td class="right" data-stat="srs_offense">2.1</td><td class="right" data-stat="srs_defense">4.3</td></tr>
<tr><th class="left" csk="19" data-stat="team" scope="row"><a href="/teams/rai/2024.htm">Las Vegas Raiders</a></th><td class="right" data-stat="wins">4</td><td class="right" data-stat="losses">13</td><td class="right" data-stat="win_loss_perc">.235</td><td class="right" data-stat="points">309</td><td class="right" data-stat="points_opp">434</td><td class="right" data-stat="points_diff">-125</td><td class="right" data-stat="mov">-7.4</td><td class="right" data-stat="sos_total">1.0</td><td class="right" data-stat="srs_total">-6.4</td><td class="right" data-stat="srs_offense">-3.9</td><td class="right" data-stat="srs_defense">-2.5</td></tr>
</tbody></table>

In [ ]:
body = afc_table.find_all('tbody')
rows = body[0].find_all('tr')
rows
standings = {}
for row in rows:
    if (type(row.find('a')) == type(None)):
        continue
    team_item = row.find_all('a')[0]
    team = team_item.text
    if team_item and team_item.next_sibling:
        playoff = team_item.next_sibling.strip()
    else:
        playoff = 'N'
    wins = row.find_all('td', {'data-stat': 'wins'})[0].text
    losses = row.find_all('td', {'data-stat': 'losses'})[0].text
    win_pct = row.find_all('td', {'data-stat': 'win_loss_perc'})[0].text
    standings[team] = [wins, losses, win_pct, playoff]

{'Buffalo Bills': ['13', '4', '.765', '*'],
 'Miami Dolphins': ['8', '9', '.471', 'N'],
 'New York Jets': ['5', '12', '.294', 'N'],
 'New England Patriots': ['4', '13', '.235', 'N'],
 'Baltimore Ravens': ['12', '5', '.706', '*'],
 'Pittsburgh Steelers': ['10', '7', '.588', '+'],
 'Cincinnati Bengals': ['9', '8', '.529', 'N'],
 'Cleveland Browns': ['3', '14', '.176', 'N'],
 'Houston Texans': ['10', '7', '.588', '*'],
 'Indianapolis Colts': ['8', '9', '.471', 'N'],
 'Jacksonville Jaguars': ['4', '13', '.235', 'N'],
 'Tennessee Titans': ['3', '14', '.176', 'N'],
 'Kansas City Chiefs': ['15', '2', '.882', '*'],
 'Los Angeles Chargers': ['11', '6', '.647', '+'],
 'Denver Broncos': ['10', '7', '.588', '+'],
 'Las Vegas Raiders': ['4', '13', '.235', 'N']}

In [48]:
x = rows[1]
x

<tr><th class="left" csk="1" data-stat="team" scope="row"><a href="/teams/buf/2024.htm">Buffalo Bills</a>*</th><td class="right" data-stat="wins">13</td><td class="right" data-stat="losses">4</td><td class="right" data-stat="win_loss_perc">.765</td><td class="right" data-stat="points">525</td><td class="right" data-stat="points_opp">368</td><td class="right" data-stat="points_diff">157</td><td class="right" data-stat="mov">9.2</td><td class="right" data-stat="sos_total">-1.1</td><td class="right" data-stat="srs_total">8.1</td><td class="right" data-stat="srs_offense">7.8</td><td class="right" data-stat="srs_defense">0.3</td></tr>